@import '../../styles/mixins.scss';

#heads_up_display {
  enable-background: new 0 0 1094 1141.6;
}

#hud {
  opacity: 0.4;
  height: 100%;
  max-height: 150px;
  max-width: 150px;
  z-index: 1;
  left: 50%;
  position: fixed;
  top: 50%;
  width: 100%;
  @include transition(all 1s ease-in-out);
  @include transform(translate(-50%,-50%));

  &:before {
    content: " ";
    top: 50%;
    left: 50%;
    height: 1px;
    position: absolute;
    width: 1px;
    @include transition(all 0.5s ease-in-out);
    @include box-shadow(0 0 1000px 200px rgba(255, 255, 255, 0.2));
  }

  svg {
    opacity: .3;
    overflow: visible;
    @include transform-origin(50% 50%);
    @include transition(all 0.5s ease-in-out);

    .hatching {
      opacity: 0.4;
      fill: #ffffff;
      enable-background: new;
      @include transform-origin(50% 50%);
      @include transform(translate(1px,0));
      @include animation(hud_pulsate 2s infinite ease-in-out);
    }
    .glow-img {
      @include transform-origin(50% 50%);
      @include transform(scale(1.07));
    }
    .glow-img-inner {
      @include transform(scale(0.94));
    }
    .outer-ring-blue {
      @include transform-origin(50% 50%);
      @include transform(translate(1px,0));
      @include animation(hud_spin_clockwise 20s infinite linear);

      .trace {
        opacity: 0.5;
        fill: none;
        stroke: #ffffff;
        stroke-width: 1.5;
        enable-background: new;
      }
      .glow {
        fill: none;
        stroke: #ffffff;
        stroke-width: 9.5;
        @include animation(hud_fade 2s infinite linear);
      }
    }
    .outer-ring-red {
      @include transform-origin(50% 50%);
      @include transform(translate(1px,0));
      @include animation(hud_pulsate 2s infinite ease-in-out);
      @include animation(hud_spin_counter_clockwise 6s infinite linear);
      @include animation-delay(-1s);

      .trace {
        opacity: 0.5;
        fill: none;
        stroke: #ffffff;
        stroke-width: 1.5;
        enable-background: new;
      }
      .glow {
        fill: none;
        stroke: #ffffff;
        stroke-width: 9.5;
        @include transform(translate(1px,0));
        @include animation(hud_flicker 2s infinite linear);
        @include animation-delay(-1s);
      }
    }
    .inner-ring {
      fill: none;
      stroke: #fff;
      enable-background: new;
      @include transform-origin(50% 50%);
      @include transform(translate(1px,0));
      @include animation(hud_wind_release 2s infinite ease-out);
    }
  }
}

@media (min-width: 600px) {
  #hud {
    max-height: 250px;
    max-width: 250px;
  }
}

@media (min-width: 960px) {
  #hud {
    max-height: 300px;
    max-width: 300px;
  }
}

// animations:
// hud animations
@include keyframes(hud_flicker) {
  10% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}
@include keyframes(hud_fade) {
  50% {
    opacity: 0.5;
  }
}
@include keyframes(hud_pulsate) {
  50% {
    @include transform(scale(0.95));
  }
}
@include keyframes(hud_spin_clockwise) {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    bottom: 0;
    @include transform(rotate(-360deg));
  }
}
@include keyframes(hud_spin_counter_clockwise) {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    bottom: 0;
    @include transform(rotate(360deg));
  }
}
@include keyframes(hud_wind_release) {
  90% {
    @include transform(scale(0.8) rotate(210deg));
  }
}
  