.app {
  box-sizing: border-box;
  font-family: 'SpaceMono', monospace;
  background: rgba(0,0,0,0.92) url(../../assets/grid.png) no-repeat center;
  background-blend-mode: multiply;
  color: #fff;
  height: 100%;

  .description {
    color: #49DDBA;
  }

  .logo {
    height: 1em;
    margin-left: 10px;
  }

  .menu {
    width: 82px;
    height: 82px;
    background: url(../../assets/menu.svg);
    background-size: 100px 82px;

    &:hover {
      cursor: pointer;
    }
  }

  .chat {
    color: #fff;
    text-align: center;

    .chat-message {
      margin: 10px 0;
    }
  }

  .footer {
    .skip-chat-button {
      width: 230px;
      height: 50px;
      color: #fff;
      background: url(../../assets/skip-chat-button.svg) no-repeat center;
      background-size: 220px 60px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  a {
    color: #49DDBA;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  
}

@media only screen and (min-width: 768px) {
  .app {
    padding: 72px;
  }
}
