.preloader{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: #000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 99999999999999;

  .logo {
    height: 40px;
  }

  &.show{
    visibility: visible !important;
    opacity: 1 !important;
    transition: all 0.5s ease;
  }
}
.preloader_inner {
  text-align: center;
  font-size: 3em;
  color: #fff;
}
