@import './styles/reset.scss';
@import './styles/flexbox.scss';
@import './styles/slick-carousel/slick.scss';
@import './styles/slick-carousel/slick-theme.scss';

html {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

body {
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  width: 100%;
  font-family: monospace;
  font-size: 16px;
}

#root {
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

*:focus {
  outline: 0;
}

.wrapper {
  height: 100%;
}

.router {
  height: 100%;
}

// Chatbot
.chat-bot {
  height: 100%;
}
.rsc-container {
  height: 100%;
}
.rsc-content {
  box-sizing: content-box;
  padding-right: 17px;

  & > div:first-child {
    margin-top: 400px !important;
  }
}
.rsc-input:disabled {
    display: none;
}

.url {
  color: #00e0b7;
  text-decoration: none;
}